body {
    background-color: #C9BCB9;
}
.navbar-default, .navbar-brand, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #3F1600;
    color: #ffca60 !important;
}

.navbar-nav > li > a {
    background-color: #3F1600;
    color: #ffca60 !important;
}

#btnSaveCompany {
    float: right;
}